#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.open-form {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #D3573C;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    left: 29%;
    top: 10%;
    position: absolute;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-weight: 100;
    color: black;
    text-align: left;
    font-family: 'DM Sans';
    font-size: 3.5rem;
    margin-top: 5px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    height: 630px;
}

form label {
    color: #312E2E;
    font-size: 2rem;
    font-family: 'DM Sans';
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    margin-top: 20px;
}

form input {
    width: 100%;
    height: 63px;
    border: none;
    border-radius: 7px;
}

textarea{
    width: 100%;
    height: 150px;
}

#profil {
    text-align: left;
    width: 402px;
    font-family: inherit;
    margin-left: 25px;
}

#btnContactProfil{
    width: 372px;
}

#imgProfil{
    width: 200px;
}

#section-photographe {
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;
} 

@media screen and (max-width: 1095px) {
    #section-photographe{
        flex-direction: column-reverse;
    }
    #profil p{
        text-align: center;
    }
}

#section-photographe img {
    height:200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

article img,
article video {
    width: 369px;
    height: 366px;
    object-fit: cover;
    border-radius: 7px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

#section-photographe h1 {
    color: #D3573C;
    font-size: 4rem;
    text-decoration: none;
    margin: 0;
    font-family: unset;
    font-weight: 500;
}

#section-photographe p {
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: unset;
    font-weight: 500;
}

.portfolio-filter {
    display: flex;
    margin-top: 15px;
}

#filtre{
margin-top: 14px;
}

.portfolio-filter p {
    font-size: 20px;
    font-weight: bold;
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.toggle-listbox {
    display: flex;
}

.toggle-listbox i {
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.active-option {
    margin-left: 10px;
}

.dropdown {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort-option {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    border-top: 1px solid #FAFAFA;
    width: 100%;
    text-align: left;
    overflow: hidden;
    display: none;
}

.sort-option, .open-form, .dropdown, .send {
    background-color: #901C1C;
}

.open-form:hover {
    background-color: #D3573C;
    color: black;
}

.mediaBox input{
display: none;
}

#infoMediaBox{
    color: #901C1C;
}

#infoMediaBox {
    font-size: 1.5rem;
    margin-top: 9px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

#globalCountLikes {
    background-color: #D3573C;
    width: 300px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 1px;
    right: 45px;
    font-size: 23px;
    font-weight: bold;
    padding: 25px;
    border: none;
    border-radius: 5px;
}

#contact-modal{
    display: none;
}

.send{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 155px;
    height: 65px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

/*  Lightbox*/
.lightbox{
    display: inline-flex;
    align-items: center;
}

.lightbox-content{
    width: 100%;
}

.lightbox-content img{
    width: 100%;
}
.lightbox-left, .lightbox-right{
  width: 10%;
}

.lightbox-right{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.previous, .next{
    justify-content: center;
}